 <spinner [isRunning]="isRequesting"></spinner>
 
 <a [routerLink]="['/dashboard/season']" class="btn btn-warning btn-large margin-bottom"><span class="glyphicon glyphicon-plus"></span> Dodaj sezon</a>
 
 <div class="box">
            <div class="box-header">
              <h3 class="box-title">Twoje sezony</h3>
                <form [formGroup]="searchForm" class="form-inline form-filter pull-right">              
                  <div class="form-group form-group-sm">
                      <label>Od</label>
                      <input formControlName="dateFrom" class="form-control input-sm input-border" placeholder="rrrr-mm-dd" />
                      <p class="text-danger" *ngIf="!searchForm.controls['dateFrom'].valid">niepoprawny format</p>
                  </div>
                  <div class="form-group form-group-sm">
                       <label>Do</label>                       
                      <input formControlName="dateTo" class="form-control input-sm input-border" placeholder="rrrr-mm-dd" />
                      <p class="text-danger" *ngIf="!searchForm.controls['dateTo'].valid">niepoprawny format</p>
                  </div>
                </form>
            </div>
            <div class="box-body table-responsive">

                <div class="col-xs-6 col-md-4" style="padding:10px" *ngFor="let season of seasons">
                  <div class= " small-box  bg-green">
                    <div class="inner">
                      <h3>{{season.days}}<sup style="font-size: 20px">dni</sup></h3>
                      <p>{{season.farmCount}} gospodarstwa</p>

                      <p>{{season.dateFrom.substring(0,10)}} - {{season.dateTo.substring(0,10)}}</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a  [routerLink]="['/dashboard/season', season.id]" class="small-box-footer">
                      Zobacz <i class="fa fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>

            </div>
            
            <div class="box-footer clearfix text-right">
              <div class="form-inline">
                <div class = "input-group input-group-sm">
                  <span class = "input-group-addon"><i class="fa fa-list" aria-hidden="true"></i></span>
                  <select [(ngModel)]="pager.pageSize"  (ngModelChange)="getSeasons()" class="form-control select-sm">
                    <option *ngFor="let size of pager.pageSizes">
                      {{size}}
                    </option>
                  </select>
                </div>
                <div class = "input-group input-group-sm">                  
                  <ul class="pagination pagination-sm no-margin">
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>