<spinner [isRunning]="isRequesting"></spinner>

<form [formGroup]="createFarmForm" (ngSubmit)="save($event)">

<div id="request_success_section" [hidden]="!requestSuccess" class="callout callout-info">
          <h4>Brawo!</h4>
          <p>Farma została zapisana</p>
</div>

<div id="request_error_section"  [hidden]="!requestError" class="callout callout-danger">
         <h4>Błąd podczas wykonywania operacji</h4>
         <p>{{requestErrorCode}}</p>
</div>

<div class="col-md-6">
 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Dane podstawowe</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <div class="form-group">
                  <label for="farmName">Nazwa</label>
                  <input id="farmName" formControlName="name" type="text" class="form-control" placeholder="Nazwa gospodarstwa">
                  <small *ngIf="!createFarmForm.controls.name.valid && (createFarmForm.controls.name.touched || submitClicked)" class="text-danger">
                    Nazwa jest wymagana
                  </small>
                </div>
                <div class="form-group">
                  <label for="farmIdentifier">Identyfikator</label>
                  <input id="farmIdentifier" formControlName="identifier" type="text" class="form-control" placeholder="Identyfikator gospodarstwa">
                  <small *ngIf="!createFarmForm.controls.identifier.valid && (createFarmForm.controls.identifier.touched || submitClicked)" class="text-danger">
                    Identyfikator jest wymagany
                  </small>
                </div>
                <div *ngIf="id" class="form-group">
                  <label for="farmActive">Aktywna</label>
                  <input id="farmActive" formControlName="active" type="checkbox">
                </div>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
<div class="col-md-6">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Kategorie</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- checkbox -->
                <div class="form-group" formArrayName="categories">
                    <div *ngFor="let category of createFarmForm.controls.categories.controls; let i=index" [formGroupName]="i"  [formGroup]="category" class="checkbox" >
                            <label>
                              <input formControlName="checked" type="checkbox" >
                             {{category.controls.name.value}}
                            </label>   
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
<div class="col-md-12">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Adresy</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-primary btn-sm" (click)="addAddress(null,false)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- checkbox -->
                <div class="form-group">
                  <div formArrayName="addresses" class="table-responsive">
                     <table class="table table-bordered">
                              <tr>
                                <th></th>
                                <th>Kraj</th>
                                <th>Miejscowość</th>
                                <th>Kod pocztowy</th>
                                <th>Ulica</th>
                                <th>Nr budynku</th>
                                <th>Główny</th>
                                <th></th>
                              </tr>
                        <tr *ngFor="let address of createFarmForm.controls.addresses.controls; let i=index" [formGroupName]="i" [formGroup]="address">
                                  <td></td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="country" placeholder="Kraj">
                                      <small *ngIf="!address.controls.country.valid && (address.controls.country.touched || submitClicked)" class="text-danger">
                                        Kraj jest wymagany
                                      </small>
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="city" placeholder="Miejscowość">
                                      <small *ngIf="!address.controls.city.valid && (address.controls.city.touched || submitClicked)" class="text-danger">
                                        Miejscowość jest wymagany
                                      </small>  
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="postCode" placeholder="00-000">
                                      <small *ngIf="!address.controls.postCode.valid && (address.controls.postCode.touched || submitClicked)" class="text-danger">
                                        Kod pocztowy jest wymagany
                                      </small>
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="street" placeholder="Ulica">
                                      <small *ngIf="!address.controls.street.valid && (address.controls.street.touched || submitClicked)" class="text-danger">
                                        Ulica jest wymagana
                                      </small>
                                    </td>
                                    <td><input type="text" class="form-control" formControlName="homeNo" placeholder="Nr budynku"></td>
                                    <td><input type="checkbox" formControlName="main"></td>   
                                    <td><button type="button" class="btn btn-primary btn-sm" (click)="removeAddress(i)"><i class="fa fa-minus"></i></button></td>   
                        </tr>     
                      </table>
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
<div class="col-md-12">
           <div class="box">
             <div class="box-body">
                <!-- Modal -->
                <div class="modal fade bs-example-modal-sm" id="confirmationModal" tabindex="-1" role="dialog" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Potwierdzenie</h4>
                      </div>
                      <div class="modal-body">
                        Czy na pewno chcesz usunąć farmę?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Usuń</button>
                      </div>
                    </div>
                  </div>
                </div>

                 <div class="box-footer clearfix no-border">      
                    <button *ngIf="id" type="button" data-toggle="modal" data-target="#confirmationModal" class="btn btn-danger pull-left">Usuń</button>            
                    <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
                </div>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
</form>