
<p>login</p>


<form [formGroup]="loginForm" (submit)="doLogin($event)">
    <input formControlName="email" type="email" placeholder="Your email" value="test@test.pl">
    <input formControlName="password" type="password" placeholder="Your password" value="Test1234!">
  <button type="submit">Log in</button>
</form>
<button (click)="logout()">Logout!</button>
<button (click)="sendGet()">Send get!</button>