 <spinner [isRunning]="isRequesting"></spinner>
 
 <a [routerLink]="['/dashboard/farm']" class="btn btn-warning btn-large margin-bottom"><span class="glyphicon glyphicon-plus"></span> Dodaj gospodarstwo</a>
 
 <div class="box">
               <div class="box-header">
              <h3 class="box-title">Twoje gospodarstwa</h3>
            </div>
            <div class="box-body table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Nazwa</th>
                  <th>Identyfikator</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let farm of farms">
                   <td> <a [routerLink]="['/dashboard/farm', farm.id]" class="btn btn-sm btn-primary">Pokaż</a></td>
                   <td> {{farm.name}}</td>
                   <td> {{farm.identifier}}</td>
                   <td> 
                     <button type="button" *ngIf="!farm.active" class="btn btn-danger btn-sm" disabled>Nieaktywna</button></td>
                  </tr>
                </tbody>
              </table>              
              <p *ngIf="farms.length == 0" class="text-center">Brak elementów</p>
            </div>
        </div>