		<!----start-bg---->
		<div class="bg">
			<!----start-container---->
			<div class="container">
				<!---- start-header---->
				<div class="row header">
					<div class="row">
						<div class="col-md-6">
							<!----start-logo---->
							<div class="well logo">
								<a href="#" [routerLink]="['']"><img src="images/logo.png" title="Flatmate" /></a>
								<button (click)="fbLogin()">FB login</button>
								
							</div>
							<!----//End-logo---->
						</div>
						<div class="well col-md-6">
							<div class="login-info well header-right">
								<p><i><a href="#">Have an Account ?</a></i><a class="login btn-primary" [routerLink]="['/login']">Login</a></p>
							</div>
						</div>
					</div>
				</div>
					<!---- //End-header---->
					<!-----slide-banner---->
					<div class="well slide-banner row">					
      					  <router-outlet>
						  </router-outlet>
						<div class="clearfix"> </div>
					</div>
					<!-----//slide-banner---->
				</div>
</div>
