<spinner [isRunning]="isRequesting"></spinner>

<form [formGroup]="createSeasonForm" (ngSubmit)="save($event)">

<div id="request_success_section" [hidden]="!requestSuccess" class="callout callout-info">
          <h4>Brawo!</h4>
          <p>Sezon został zapisany</p>
</div>

<div id="request_error_section"  [hidden]="!requestError" class="callout callout-danger">
         <h4>Błąd podczas wykonywania operacji</h4>
         <p>{{requestErrorCode}}</p>
</div>

<div class="col-md-6">
 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Dane podstawowe</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <div class="form-group">
                  <label for="seasonSateFrom">Od</label>
                    
                      <input formControlName="dateFrom" class="form-control input-sm input-border" placeholder="rrrr-mm-dd" />
                  <small *ngIf="!createSeasonForm.controls.dateFrom.valid && (createSeasonForm.controls.dateFrom.touched || submitClicked)" class="text-danger">
                    niepoprawna data
                  </small>
                </div>
                <div class="form-group">
                  <label for="seasonDateTo">Do</label>                
                    
                      <input formControlName="dateTo" class="form-control input-sm input-border" placeholder="rrrr-mm-dd" />           
                  <small *ngIf="!createSeasonForm.controls.dateTo.valid && (createSeasonForm.controls.dateTo.touched || submitClicked)" class="text-danger">
                    niepoprawna data
                  </small>
                </div>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
<div class="col-md-6">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Gospodarstwa</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- checkbox -->
                <div class="form-group" formArrayName="farms">
                    <div *ngFor="let farm of createSeasonForm.controls.farms.controls; let i=index" [formGroupName]="i"  [formGroup]="farm" class="checkbox" >
                            <label>
                              <input formControlName="checked" type="checkbox" >
                             {{farm.controls.name.value}}
                            </label>   
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>

<div class="col-md-12">
           <div class="box">
             <div class="box-body">
                <!-- Modal -->
                <div class="modal fade bs-example-modal-sm" id="confirmationModal" tabindex="-1" role="dialog" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Potwierdzenie</h4>
                      </div>
                      <div class="modal-body">
                        Czy na pewno chcesz usunąć sezon?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Usuń</button>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="box-footer clearfix no-border">      
                    <button *ngIf="id" type="button" data-toggle="modal" data-target="#confirmationModal" class="btn btn-danger pull-left">Usuń</button>            
                    <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
                </div>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
</form>