<spinner [isRunning]="isRequesting"></spinner>

<form [formGroup]="updateDefaultUserInfoForm" (ngSubmit)="save($event)">

<div id="request_success_section" [hidden]="!requestSuccess" class="callout callout-info">
          <h4>Brawo!</h4>
          <p>ustawienia zostały zapisane</p>
</div>

<div id="request_error_section"  [hidden]="!requestError" class="callout callout-danger">
         <h4>Błąd podczas wykonywania operacji</h4>
         <p>{{requestErrorCode}}</p>
</div>

<div class="col-md-6">
 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Dane podstawowe</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <div class="form-group">
                  <label for="seasonId">Sezon</label>
                  <select id="seasonId" class="form-control" formControlName="seasonId">
                    <option [selected]="updateDefaultUserInfoForm.controls.seasonId.value == null" value="">-- Wybierz --</option>
                    <option *ngFor="let s of seasons" [selected]="s.id == seasonId" [value]="s.id">{{s.dateFrom.substring(0,10)}} - {{s.dateTo.substring(0,10)}}</option>
                  </select>

                  
                  <label for="seasonId">Gospodarstwo</label>
                  <select id="farmId" class="form-control" formControlName="farmId">
                    <option [selected]="updateDefaultUserInfoForm.controls.farmId.value == null" value="">-- Wybierz --</option>
                    <option *ngFor="let f of farms" [selected]="f.id == farmId" [value]="f.id">{{f.name}}</option>
                  </select>
                </div>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
<div class="col-md-12">
           <div class="box">
             <div class="box-body">
                 <div class="box-footer clearfix no-border">      
                      <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
                </div>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
</form>